*.DS_Store
.idea/
*__pycache__/
**/.vscode/
# Don't ignore the top-level .vscode directory as it is
# used to configure VS Code settings
*.rrd
# rerun recording files
!.vscode/
.vscode/.history
.hydra/
node_modules/
.next/
wandb/
logs/
*.ckpt
GSNet

deploy
runs
debug/
test_output/
test_output
roboverse_demo/
roboverse_demo
roboverse_data/
roboverse_data
roboverse_data_dev/
roboverse_data_dev
roboverse_data_release/
roboverse_data_release
*.pth
checkpoints
slurm.sh
data_policy/
outputs/
il_outputs/
eval_outputs/
tmp/
results/
RoboVersePage
unused/
Open6DOR
_isaac_sim
ppo_logs/
legacy/

third_party/curobo/

# Data
/assets
/data
/data/
/data_old
/data_old/
/data_isaaclab
/data_isaaclab/
/data_metasim
/data_metasim/
data_policy
info
MJMODEL.TXT
view_mjcf.py
/tools_libero
/tools_libero/
logdir/

# Old Repos
UniRobo
RoboVerseOld
RoboVersePage
RoboVerseLearn

# Third Party Repos
orbit
IsaacLab

*.log
_data
*.ipynb

*.avi
*.mp4
*.png
*.jpg

*.zip
*.tar
*.gz


imgui.ini
MUJOCO_LOG.TXT
*.egg-info
build
metasim/cfg/tasks/arnold/Arnold
dist

id_ed25519*
id_rsa*

# for docker
.env

# for sapien
*.convex.stl

# for test cache
.pytest_cache/

*.pkl
*.pt
output
